<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/HamadStore/HamadStore.github.io/master/Apps/Instagram/Instagram.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://is4-ssl.mzstatic.com/image/thumb/Purple125/v4/8f/a7/0f/8fa70f80-d1dc-ecce-4952-00b2329ceceb/Prod-1x_U007emarketing-85-220-0-5.png/230x0w.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://is4-ssl.mzstatic.com/image/thumb/Purple125/v4/8f/a7/0f/8fa70f80-d1dc-ecce-4952-00b2329ceceb/Prod-1x_U007emarketing-85-220-0-5.png/230x0w.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.instagram.instagram</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Instagram+</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
